services:
  - type: web
    name: hospital-app
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: APP_KEY
        sync: false
      - key: APP_DEBUG
        value: false
      - key: APP_ENV
        value: production
      - key: APP_URL
        value: $RENDER_EXTERNAL_URL
      - key: LOG_CHANNEL
        value: stderr
      - key: LOG_LEVEL
        value: debug
      - key: SESSION_DRIVER
        value: database
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: dpg-d56u8tu3jp1c73akpk6g-a.oregon-postgres.render.com
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: hospital_ii2p
      - key: DB_USERNAME
        value: hospital_ii2p_user
      - key: DB_PASSWORD
        sync: false